{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "env": {
    "demo": {
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    },
    "production": {
      "presets": ["flow"],
      "plugins": ["external-helpers", "transform-class-properties", "transform-object-rest-spread"]
    }
  }
}